:root {
  --primary-color: #b98b73; /* لون بني فاتح يرمز للأثاث الخشبي */
  --secondary-color: #6c5b4c; /* لون بني داكن للأرفف */
  --background-color: #f5f1e3; /* لون بيج فاتح لجدران المكتبة */
  --text-color: #3e3c3a; /* لون رمادي غامق للنصوص */
  --link-color: #1a535c; /* لون أخضر داكن يرمز للطبيعة */
  --link-hover-color: #4ecdc4; /* لون فيروزي لطيف للتفاعل */
}
