:root {
  --background-color: #f5f7fa;
  --primary-color: #3b82f6;
  --secondary-color: #1e293b;
  --hover-color: #2563eb;

  --text-color: #1f2937;
  --subtext-color: #6b7280;

  --accent-color: #10b981;
  --box-shadow-color: rgba(0, 0, 0, 0.08);
}