.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  background-color: #1f717a;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: var(--secondary-color);
}

.logo-link {
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logo-link:hover {
  color: var(--text-color);
}

.menu-toggle {
  display: none; 
  background: none;
  border: none;
  font-size: 24px;
  color: white; 
  cursor: pointer;
  margin-left: auto; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1f717a; 
  width: 100%;
  padding: 10px 0;
  z-index: 999; 
}
.nav-links.open .nav-item {
  text-align: left; 
  padding-left: 15px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item a:hover {
  background-color: white;
  color: #1f717a;
}

.active a {
  font-weight: bold;
  border-bottom: 2px solid white;
}

.auth-links {
  display: flex;
  gap: 15px;
  margin-right: 30px;
}

.auth-link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-link:hover {
  background-color: white;
  color: #1f717a;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
  background-color: white;
  color: #1f717a;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none; 
  }

  .nav-links.open {
    display: flex; 
  }

  .auth-links {
    flex-direction: column; 
    align-items: flex-start;
    margin-top: 10px;
    gap: 10px; 
  }
}