

.not-found-container {
    text-align: center;
    padding: 50px;
    font-family: 'Open Sans', sans-serif; 
    color: var(--primary-color); 
    background-color: var(--secondary-color); 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .not-found-container h1 {
    font-size: 7rem;
    color: var(--primary-color);
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .not-found-container p {
    font-size: 1.8rem;
    margin: 10px 0 30px;
    color: #333;
  }
  
  .home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .home-link:hover {
    background-color: #a00000; 
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  }
  

  .not-found-container h1::after {
    content: 'Page Not Found';
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    color: #555;
    margin-top: 10px;
  }
  
  .not-found-container p {
    line-height: 1.6;
  }